<?xml version= "1.0" encoding ="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" verbose="1" >
  <test name="ChromeTestCase" >
    <parameter name = "browser" value = "chrome"/>
    <classes>
       <class name="ReUse.CrossBrowserFactory" />
    </classes>
  </test>
  
   <test name="IE_TestCases" >
    <parameter name = "browser" value = "Ie"/>
    <classes>
       <class name="ReUse.CrossBrowserFactory" />
    </classes>
  </test>
 
 
 </suite>